body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
    margin: 0;
}

/* HEADER */
.header {
    text-align: center;
    padding: 30px;
}

/* FOTO GRANDE */
.perfil img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #22c55e;
    margin: 0 auto 15px;
    display: block;
    transition: 0.3s;
}

/* HOVER FOTO */
.perfil img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(34, 197, 94, 0.8);
}

/* TEXTO */
.header h1 {
    margin: 10px 0 5px;
}

.descricao {
    opacity: 0.8;
}

/* MAIN */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* METAS */
.goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.08);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

/* HOVER AMARELO */
.goal:hover {
    transform: scale(1.04);
    background: rgba(255,255,255,0.15);
    border: 2px solid #facc15;
    box-shadow: 0 0 25px rgba(250, 204, 21, 0.8);
}

/* LADOS */
.left {
    width: 50%;
}

.right {
    width: 50%;
    text-align: right;
}

/* TIMER */
.timer {
    color: #facc15;
    font-weight: bold;
}

/* PORCENTAGEM */
.percent {
    color: #22c55e;
    font-weight: bold;
}

/* BARRA */
.progress-container {
    width: 100%;
    height: 10px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin-top: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #22c55e, #4ade80);
    border-radius: 10px;
    transition: width 0.5s;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.7;
}
